{% extends "../game/base.html" %}

{% block content %}
    {% if validlink %}
        <form action="" method="post">
        {% csrf_token %}
            <legend style="margin-bottom:20px;">Redefinição de senha:</legend>
            <div class="form-group">
                <label style="width:100px; clear:both;" 
                        for="id_new_password1">
                        Nova senha:
                </label>
                {{ form.new_password1 }}
            </div>
            <div class="form-group">
                <label style="width:100px; clear:both;" 
                        for="id_new_password2">
                        {{ form.new_password2.errors }}
                        Confirmar:
                </label>
                {{ form.new_password2 }}
            </div>
            <div class="form-group">
                <button type="submit" value="login" class="btn btn-primary">Trocar senha</button>
                <!--<button type="hidden" class="btn btn-primary" name="next">{{ next }}</button>-->
            </div>
        </form>
    {% else %}
        <h1>Ops!</h1>
        <p>O link para resetar a senha é inválido. :(</p>
    {% endif %}
{% endblock %}