{% extends "../game/base.html" %}
 
{% block content %}
<legend>Cadastrar</legend>
 <form method="post">
   {% csrf_token %}
   {% for field in form %}
     <div class ="form-group">
      <label style="width:200px; clear:both;" 
              for="username">
              {{ field.label_tag }}
      </label>
       {{ field }}
       {% for error in field.errors %}
         <p style="color: red">{{ error }}</p>
       {% endfor %}
     </div>
   {% endfor %}
   <button type="submit" class="btn btn-primary">Criar</button>
   </div>
 </form>
{% endblock %}