{% extends 'game/base.html' %}

{% block content %}
    <h3>Mais recentes</h3>
    <div class="list-group" style="margin-bottom:20px;">
    {% for game in games %}
        <a href="{% url 'game_detail' pk=game.pk %}" class="list-group-item list-group-item-action">
                {{ game.name }}
                {% if game.metacritic < 50 %}
                    <span style="float:right; margin-left: 5px;" class="badge badge-danger badge-pill">
                        {{ game.metacritic }}
                    </span>
                {% endif %}
                {% if game.metacritic >= 50 and game.metacritic < 70 %}
                    <span style="float:right; margin-left: 5px;" class="badge badge-warning badge-pill">
                        {{ game.metacritic }}
                    </span>
                {% endif %}
                {% if game.metacritic >= 70 %}
                    <span style="float:right; margin-left: 5px;" class="badge badge-success badge-pill">
                        {{ game.metacritic }}
                    </span>
                {% endif %}
                <span style="float:right;" class="badge badge-primary badge-pill">
                    {{ game.developer }}
                </span>
        </a>
    {% endfor %}
    </div>
    <ul class="pagination">
    {% if games.has_previous %}
        <button onclick="location.href='?page={{ games.previous_page_number }}'" 
                type="button" 
                class="btn btn-success"
                style="margin-right:5px;">ANTERIOR
        </button>
    {% endif %}
    {% if games.has_next %}
        <button onclick="location.href='?page={{ games.next_page_number }}'" 
                type="button" 
                class="btn btn-success">PRÓXIMO
        </button>
    {% endif %}
    </ul>
{% endblock %}