{% extends 'game/base.html' %}

{% block content %}
<h2 style="margin-bottom:20px;">{{ user_detail.first_name }} {{ user_detail.last_name }}</h2>
<div style="margin-bottom:20px; margin-top:20px;">
    <h6>{{ user_detail.username }}</h6>
</div>
<div class="container" style="border: 1px solid black; padding:20px;
margin-bottom:10px;">

    <div class="list-group" style="margin-bottom:20px; border-bottom: solid 1px black;">
        <h3><a style="color:black;" href="">Análises</a></h3>
        <ul>
        {% for user_review in user_reviews %}
            <a class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ user_review.game }}</h5>
                    <small>{{ user_review.date }}</small>
                </div>
                <p class="mb-1">{{ user_review.text }}</p>
                    {% if user_review.note < 5 %}
                        <span class="badge badge-danger badge-pill">{{ user_review.note }}</span>
                    {% endif %}
                    {% if user_review.note >= 5 and user_review.note < 7 %}
                        <span class="badge badge-warning badge-pill">{{ user_review.note }}</span>
                    {% endif %}
                    {% if user_review.note >= 7 %}
                        <span class="badge badge-success badge-pill">{{ user_review.note }}</span>
                    {% endif %}
            </a>
        {% endfor %}
        </ul>
    </div>

    {% if user.is_authenticated %}
    {% if current_user != user_detail %}
        {% if porcentagem < 40 %}
            <div style="margin-top:30px; margin-bottom: 30px;">
                <div class="alert alert-dismissible alert-danger">
                    <p>Poxa! O grau de compatibilidade entre você e {{ user_detail.username }} é <strong>{{ compatibilidade }}</strong>!</p>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{ percentual }}" 
                    aria-valuenow="{{ porcentagem }}" 
                    aria-valuemin="0" 
                    ria-valuemax="100">
                    </div>
                </div>
            </div>
        {% elif porcentagem  >= 40 and porcentagem < 70 %}
            <div style="margin-top:30px; margin-bottom: 30px;">
                <div class="alert alert-dismissible alert-warning">
                    <p>Hmm! O grau de compatibilidade entre você e {{ user_detail.username }} é <strong>{{ compatibilidade }}</strong>!</p>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: {{ percentual }}" 
                    aria-valuenow="{{ porcentagem }}" 
                    aria-valuemin="0" 
                    ria-valuemax="100">
                    </div>
                </div>
            </div>
        {% elif porcentagem  >= 70 and porcentagem < 90 %}
            <div style="margin-top:30px; margin-bottom: 30px;">
                <div class="alert alert-dismissible alert-info">
                    <p>Ótimo! O grau de compatibilidade entre você e {{ user_detail.username }} é <strong>{{ compatibilidade }}</strong>!</p>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: {{ percentual }}" 
                    aria-valuenow="{{ porcentagem }}" 
                    aria-valuemin="0" 
                    ria-valuemax="100">
                    </div>
                </div>
            </div>
        {% elif porcentagem  >= 90 %}
            <div style="margin-top:30px; margin-bottom: 30px;">
                <div class="alert alert-dismissible alert-success">
                    <p>Perfeito! O grau de compatibilidade entre você e {{ user_detail.username }} é <strong>{{ compatibilidade }}</strong>!</p>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{ percentual }}" 
                    aria-valuenow="{{ porcentagem }}" 
                    aria-valuemin="0" 
                    ria-valuemax="100">
                    </div>
                </div>
            </div>
        {% endif %}
        {% if user_detail not in friends %}
            <form action="{% url 'add_friend' user_detail.id %}">
                <button type="submit"  
                        class="btn btn-primary"
                        style="margin-bottom:25px;">
                        Adicionar aos amigos
                </button>
            </form>
        {% else %}
            <form action="{% url 'delete_friend' user_detail.id %}">
                <button type="submit"  
                        class="btn btn-primary"
                        style="margin-bottom:25px;">
                        Remover da lista de amigos
                </button>
            </form>          
        {% endif %}
        {% endif %}
    {% endif %}

    <div class="container" style="margin-bottom:20px;">
        <div class="row">
            <div class="col">
            <h3><a style="color:black;" href="{% url 'wishlist' %}">Lista de desejos</a></h3>
                <div class="list-group">    
                {% for game in wishlist %}
                    <a href="{% url "game_detail" game.id %}"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">{{ game.name }}</h6>
                        </div>
                    </a>
                {% endfor %}
                </div>
            </div>

            <div class="col">
            <h3><a style="color:black;" href="{% url 'playing_list' %}">Jogando</a></h3>
                <div class="list-group">
                {% for game in currently_playing %}
                    <a href="{% url "game_detail" game.id %}" 
                    class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1">{{ game.name }}</h6>
                        </div>
                    </a>
                {% endfor %}
                </div>
            </div>

            <div class="col">
            <h3><a style="color:black;" href="{% url 'finished_list' %}">Finalizados</a></h3>
                <div class="list-group">
                {% for game in finished %}
                    <a href="{% url "game_detail" game.id %}" 
                    class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1">{{ game.name }}</h6>
                        </div>
                    </a>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<button style="margin-bottom:20px; margin-top:10px;" 
onclick="location.href='{% url 'users' %}'" 
class="btn btn-primary">Voltar
</button>
{% endblock %}